<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ parameter name="moduleName" type="System.String" #>
<#@ parameter name="typePrefix" type="System.String" #>
<#@ parameter name="typeName" type="System.String" #>
<#@ parameter name="baseName" type="System.String" #>
